
*.lock
*.ide-wal
*.ide
*.ide-shm
.vs/
*.pdb
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.txt
*.cache
*.nupkg
*.p7s
*.XML
*.ssdl
*.msl
*.csdl
/packages/

*.diagram
*.map
ACE_Behind_Mall.MVC/bin/roslyn/vbc.exe
*.exe
