
*.lock
*.ide-wal
*.ide
*.ide-shm
.vs/
*.pdb
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.txt
*.cache
*.nupkg
*.p7s
*.XML
*.ssdl
*.msl
*.csdl
*.user
/packages/

*.diagram
*.map
ACE_Behind_Mall.MVC/bin/roslyn/vbc.exe
*.exe
[Bb]in/
[Oo]bj/
[Ll]og/
/ACE_Behind_Mall.MVC/Properties/PublishProfiles
/ACE_Behind_Mall.WebApi/Properties/PublishProfiles  
