
@{
    ViewBag.Title = "AdmUserList";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 后台管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">在职状态</label>
                        <div class="layui-input-block">
                            <select name="state">
                                <option value="0">在职员工</option>
                                <option value="2">离职员工</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-block">
                            <input type="text" name="key" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="btnSearch">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table id="adminUserList" lay-filter="adminUserList"></table>
                <script type="text/html" id="barList">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-form"></i>查看</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update"><i class="layui-icon layui-icon-edit"></i>修改</a>
                </script>
            </div>
        </div>
    </div>

</body>
</html>
<!--查看修改窗口-->
<div id="divDetail" lay-filter="layuiadmin-form-admin" style="display: none">
    <div class="layui-form layui-form-pane" id="formDetail" style="padding: 20px 30px 0 50px;">
        <input type="hidden" name="ID" v-model="ID" />
        <div class="layui-form-item">
            <label class="layui-form-label">选择角色</label>
            <div class="layui-input-block">
                <select name="RoleID" lay-verify="required" id="RoleID">
                    <option value="">请选择角色</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="ReallyName" v-model="ReallyName" lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账户</label>
            <div class="layui-input-block">
                <input type="text" name="Account" v-model="Account" lay-verify="required" placeholder="请输入账户" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="Phone" v-model="Phone" lay-verify="phone" placeholder="请输入号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="Email" v-model="Email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-block">
                <input type="text" name="Birthday" v-model="Birthday"id="Birthday" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        @*<div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-block">
                    <input type="text" name="Image" v-model="Image" lay-verify="required" placeholder="请上传图片" autocomplete="off" class="layui-input">
                </div>
                <button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-useradmin">上传图片</button>
            </div>*@
        <div class="layui-form-item" pane>
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="Sex" value="男" title="男" :checked="true">
                <input type="radio" name="Sex" value="女" title="女" :checked="Sex">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">加入时间</label>
            <div class="layui-input-block">
                <input type="text" name="CreateTime" v-model="CreateTime" required lay-verify="required"
                       placeholder="加入时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="divSubmit">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        @*<div class="layui-form-item layui-hide">
                <input type="button" lay-submit lay-filter="formSubmit" id="formSubmit" value="确认">
            </div>*@
    </div>
</div>
@*<script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/js/AdmUser/GetAdmUserList.js"></script>*@
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'adminuser', 'table'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table;

        //监听搜索
        form.on('submit(btnSearch)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('adminUserList', {
                where: field
            });
        });
    });
</script>
